.movie {
    cursor: pointer; 
    position: relative; 
   
    .moviePic {
      object-fit: cover;
      height: 100vh;
    }

    // .moviePlay {
    //   position: absolute;
    //   top:50%;
    //   left:50%;
    //   .play-btn {
    //     border: none;
    //     background-color: white;
    //   }
    // }    
}

    




